/* setting font for all elements and making box sizing.*/

*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    color: white;
    font-family: 'lubrication' !important;
    text-align: center;
}

body {
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    background: url(https://tse3.mm.bing.net/th?id=OIP.soGrTiJ_nFiOXWJz5656fwHaEo&pid=Api&P=0) no-repeat center center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {

    color: white;
    position: absolute;
    display: block;

}


.container {
    width: 55%;
    color: white;
    position: absolute;

}

.container {

    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    border-bottom: 5px solid rgb(255, 255, 255);
    background-color: rgba(26, 21, 21, 0.712);
}

.container {

    top: 3%;
    left: 20%;
    right: 20%;
}

/* decorating heading title */
h1 {
    top: 2%;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid white;
    margin-bottom: 15px;
    padding: 13px 0;
    font-family: 'lubrication';
}


/* let's focus on designing all legend tag*/

legend {
    font-size: 32px;
    font-family: 'lubrication';
    font-weight: bold;
}


/* let's focus on adesigning personal information all tag */



p {
    font-family: 'lubrication';
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 90%;
    align-self: center;
}


input[type="text"],
input[type="number"],
input[type="datetime-local"],
textarea,
input[type="email"],
select,
input[type="radio"] {
    color: black;
    margin: 8px;
    padding: 3px;
    display: flex;
    align-self: center;
    font-weight: bold;
    width: 100%;
    color: black;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;

}


input[type="radio"] {
    width: 10%;

}

b,
input[type="radio"] {
    justify-content: space-around;
    align-self: center;
}


input[type="radio"],
input[type="text"],
input[type="datetime-local"],
input[type="email"],
textarea,
input[type="number"] {
    width: 100%;
}

select:hover,
input[type="radio"]:hover,
input[type="text"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
textarea:hover,
input[type="number"] {
    cursor: pointer;
    font-style: 'lubrication serif';
    color: black;
}

input[type="submit"] {
    background-color: rgba(75, 70, 70, 0.63);
    color: white;
    padding: 24px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover {
    color: aqua;
    background-color: green;
}



.response {
    color: white;
    text-align: center;
}

b {
    font-size: 19px;
    text-align: center;
}

fieldset {
    color: black;
    background-color: transparent;
    border: solid 5px #ccc;
}