body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: url('https://tse4.mm.bing.net/th?id=OIP.P7Q4Du34wV7vXihk2OD_kgHaEK&pid=Api&P=0');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main{
    margin-top: 10px;
    width: 360px;
    height: 620px;
    margin:50px  50px;
}
form{
    width: 300px;
    margin-left: 20px;
    border: black;
}
form label{
    border: black;
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 4.5px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}
input[type="button"]{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background-color: #49c1a2;
    font-size: 45px;
    cursor: pointer;
}
input[type="Submit"]{
    margin-top: 30px;
    width: auto;
    height: auto;
    background-color: #50DBB4;
    
}
input[type="reset"]{
    margin-top: 10px;
    width: auto;
    height: auto;
    background-color: #E21717;
}
input[type="Submit"]:hover{
    background-color: rgb(47, 255, 231);
}
input[type="button"]:active{
    background-color: #d035c3;
}
input[type="reset"]:hover{
    background-color: rgb(47, 255, 231);
}
input[type="reset"]:active{
    background-color: #d035c3;
}